<div class="moj-container">
    <p>posts component</p>
    <app-postschild [item] ="currentItem" (newItemEvent)="addItem($event)"></app-postschild>

    <ul>
        <li *ngFor="let item of items">{{item}}</li>
    </ul>


    <div class="kontainer">

        <div class="flex-item" *ngFor="let item of result">
            <h5 class="card-title">{{item.title }}</h5>
            <p>Default text</p>
            <a [routerLink]="['/post',item.id ]" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>

    <p>{{result | json}}</p>
</div>
